/node_modules
/public/hot
/public/storage
/public/.well-known
/storage/*.key
/vendor
.env
.user.ini
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/assets/rates_all.xml
/public/sitemap.xml
/public/mobile
/dist/client
/dist/server
/dist/mobile
/dist/sw.js
package-lock.json
yarn.lock
.DS_Store
