body {
    background-color: #fff !important;
    color: #000;
}

a {
    color: #000;
}
.text-dark {
    color: #000 !important;
}

.nav-main-link {
    color: #000 !important;
}

.d-flex {
 
}

.social {
 position: -webkit-sticky; /* Safari */  
 position: sticky;
 top: 116px;
}

.related-posts {
 position: -webkit-sticky; /* Safari */  
 position: sticky;
 top: 10px;
}

#page-header .content-header {
    height: 3rem;
}

h1 {
    font-size: 1rem!important;
    text-align: justify;
}



.fw-semibold {
    text-align: justify;
}

.bg-default-dark-op-60 {
    background-color: rgba(75,85,99,.6)!important;
}

p.mb-2 {
 font-size: .875rem;   
}

#post-content img,
#post-content iframe,
#post-content object,
#post-content embed,
#post-content video {
    max-width: 100%;
   /* height: 50%; */
    border-radius: .25rem!important;
}

#mobile-menu {
    box-shadow: none!important;
}


.fa-bell {
   /* color: red; */
}


.nav-main-horizontal .nav-main-submenu-extra {
    position: absolute;
    left: 0;
    width: 280px;
    padding-left: 0;
    z-index: 995;
    background-color: #ebeef2;
    box-shadow: 0 0.25rem 2rem rgb(0 0 0 / 8%);
}

.nav-main-submenu-extra {
    padding-left: 2.875rem;
    list-style: none;
    height: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.02);
}
.nav-main-horizontal .nav-main-submenu-extra.nav-main-submenu-right {
    left: auto;
    right: 0;
}
/* .nav-main-horizontal.nav-main-hover .nav-main-item:hover > .nav-main-submenu {
    height: auto;
    margin-top: -1px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    overflow: visible;
  } */
  
@media only screen and (max-width:767px){
    .notfound .notfound-404{
        height:142px
    }
    .notfound .notfound-404 h1{
        font-size:112px
    }
    .w-50 {
        width: 100%!important;
    }
    


    #mobile-link {
        display: block !important;
    }
}

.form-control {
    font-size: 0.9rem !important;
}


.p-scroll {
    overflow: hidden;
}

.p-scroll:hover {
    overflow-y: scroll;
    overflow-y: overlay;
}

.p-scroll::-webkit-scrollbar {
    width: 14px;
}

.p-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.p-scroll::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}
.p-scroll::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
.p-scroll::-webkit-scrollbar-corner {
    background-color: transparent;
}

@media (min-width: 992px) {
.nav-main-horizontal>.nav-main-item:not(:last-child) {
    margin-right: 0.14rem;
}
}

.nav-main-link:hover {

    text-decoration: underline;
}

#mobile-link {
    display: none;
}


.kurs{
    padding:15px;
    background:var(--banners-block-bg);
    text-align:center;
    color:var(--color-text);
    border-bottom:1px solid var(--border-color);
}

.kurs_content{

}


.kurs_content-list{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.kurs_content-list .kurs_hr:last-child(){
    display:none;
}
.kurs_content-item{
    list-style-type: none;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-left: 20px;
}

.kurs_money_img{
    width:24px;
    height:16px;
    margin-bottom:15px;
}

.kurs_value{
    font-size:14px;
    font-weight:700;
    line-height:14px;
}

.fw-bolder {
    color: #000;
}

.fw-normal {
    color: #000;
}

.fw-bold {
    color: #000;
}

.footer a {
    color: #fff;
}

.header-banner {
    width: 728px;
    height: 90px;
}

#post-content a {
    color: #4c78dd;
}

.tags a {
color: #4c78dd;
}

.social-icon {
    width: 48px;
}

a.author-link {
    color: #4c78dd !important;
}